<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Relativity.Agent" version="17.0.4" targetFramework="net462" />
  <package id="Relativity.API" version="17.0.4" targetFramework="net462" />
  <package id="Relativity.Identity.SDK" version="2.6.2" targetFramework="net462" />
  <package id="Relativity.Kepler" version="2.23.1" targetFramework="net462" />
  <package id="Relativity.ObjectManager" version="12.1.171.20" targetFramework="net462" />
  <package id="Relativity.Shared.SDK" version="1.8.0" targetFramework="net462" />
</packages>